<div class="well well-samll">
  <%=image_tag image.photo.url( :medium), class: "img-polaroid" %>
  <strong class="label label-info">Description: </strong> <%= image.description %>
  <p>
    <strong class="label label-info">Tags: </strong>
    <% image.tag_list.each do |_tag|%>
      <span class="label label-important"> <%= link_to( _tag, images_path( :tag => _tag)) %></span>
    <% end %>
  </p>
</div>
